<div class="splash-container">
  <div class="img-space">
    <%= image_tag('Honest.png', :alt => 'menu', :width => '400px', :height => '400px') %>
  </div>
  <div class="button-space">
    <%= link_to "Log In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
  </div>
</div>
