<div class="cat-name-section">
  <div class="cat-name">
    <h5>Total Budget</h5>
  </div>
  <div class="cat-price">
    <h5 class="bold">$100.00</h5>
  </div>
</div>
<div class="cat-cards">

  <% @categories.each do |category| %>
    <div class="card-holder">
      <div class="img-placeholder">
        <%= image_tag('5.png', :alt => 'menu', :width => '55px', :height => '55px') %>
      </div>
      <div class="info-placeholder">
        <div class="info-top">
          <p><%= category.name %></p>
          <p class="bold">$200</p>
        </div>
        <div class="info-bottom">
          <p><%= category.created_at.to_date %></p>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="add-new-cat">
  <%= button_to "Add New Category", categories_path %>
</div>