<div class="new-category">
  <h2>New Category</h2>
  <%= form_with model: @category, url: categories_path do |f| %>
    <%= f.text_field :name, placeholder: 'Enter Full Name' %>
    <br>
    <br>
    <div class="field">
      <%= f.file_field :icon, placeholder: "Icon", class: "form-control stuff" , required: true%>
    </div>
    <br>
    <%= f.submit('Add Category') %>
  <%end%>
</div>